
{% extends "layouts/module_admin.html" %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="ThinQ">LG ThinQ</a></li>
{% endblock %}
{% block module %}
<a href="?op=update" class="btn btn-primary">
    Update
</a>
<a href="?op=auth" class="btn btn-info">
    Authorization
</a>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Alias</th>
                <th>Online</th>
                <th>Updated</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr>
                <td class="py-1">
                    <img src="{{ device.image }}" height="50px" onError="this.src='/ThinQ/static/ThinQ.png'">
                    <a href="?op=edit&device={{device.id}}">{{ device.alias }}</a>
                </td>
                <td class="py-1">
                    {%if device.online%}
                    <span class="badge bg-success">Online</span>
                    {%else%}
                    <span class="badge bg-danger">Offline</span>
                    {%endif%}
                </td>
                <td class="py-1" id="dev{{device.id}}_updated">
                    {{device.updated}}
                </td>
                <td  class="py-1" width="1%" nowrap>
                    <div>
                        <a href="?op=edit&device={{device.id}}" class="btn btn-success" title="Edit"><i class="feather icon-edit"></i></a>
                        <a href="?op=delete&device={{device.id}}" onClick="return confirm('Are you sure? Please confirm.')" class="btn btn-danger" title="Delete"><i class="feather icon-trash"></i></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}