
{% extends "layouts/module_admin.html" %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="ThinQ">LG ThinQ</a></li>
{% endblock %}
{% block module %}
<button type="button" class="btn btn-primary text-nowrap" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <span class="fas fa-gear me-2"></span>
    {{ _('Settings')}}
</button>
 <!-- Модальное окно с настройками -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form  method="POST">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ _('Settings')}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Поля формы -->
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    <label class="form-label">{{ _('API key') }}</label>
                    {{ form.api_key(class="form-control") }}
                </div>
                <div class="mb-3">
                    <label class="form-label">{{ _('Country') }}</label>
                    {{ form.country(class="form-control") }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Close')}}</button>
                <button type="submit" class="btn btn-primary">{{ _('Submit')}}</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Alias</th>
                <th>Online</th>
                <th>Updated</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr>
                <td class="py-1">
                    <img src="/ThinQ/static/types/{{ device.device_type }}.png" height="50px" onError="this.src='/ThinQ/static/ThinQ.png'">
                    <a href="?op=edit&device={{device.id}}">{{ device.alias }}</a>
                </td>
                <td class="py-1">
                    {%if device.online%}
                    <span class="badge bg-success">Online</span>
                    {%else%}
                    <span class="badge bg-danger">Offline</span>
                    {%endif%}
                </td>
                <td class="py-1" id="dev{{device.id}}_updated">
                    {{device.updated}}
                </td>
                <td  class="py-1" width="1%" nowrap>
                    <div>
                        <a href="?op=edit&device={{device.id}}" class="btn btn-success" title="Edit"><i class="feather icon-edit"></i></a>
                        <a href="?op=delete&device={{device.id}}" onClick="return confirm('Are you sure? Please confirm.')" class="btn btn-danger" title="Delete"><i class="feather icon-trash"></i></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}